<mat-list>
  <mat-list-item>
    <img mat-list-avatar alt="John Smith" src="assets/images/slider-1.jpg">
    <div mat-line class="twitter-title">John Smith <span class="twitter-text">@jsmith</span></div>
    <div mat-line class="twitter-text">I loved this dish! The flavours were perfectly balanced and the smell was divine! I have to recommend it to anyone that visits this restaurant.</div>
  </mat-list-item>
  <mat-list-item>
    <img mat-list-avatar alt="Ann Smith" src="assets/images/thai-restaurant.jpg">
    <div mat-line class="twitter-title">Ann Smith <span class="twitter-text">@annS</span></div>
    <div mat-line class="twitter-text">I'm allergic to some of the ingredients but still wanted to try this. The waiter was super nice and they left out what I was allergic to. Still tasted awesome!</div>
  </mat-list-item>
</mat-list>
