[mat-dialog-title] {
  word-break: break-word;
}

.tableContainer {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
  min-width: 600px;
}
// #order-table th {
//   width: 20%;
// }

// .totalRow {
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 0 16px;
//   text-transform: uppercase;
// }

.totalRowPrice {
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0 16px;
   text-transform: uppercase;
}

// th {
//   font-weight: bold;
// }

.bookingDateData,
.dishNameData {
  word-break: break-word;
}

.mat-column-dish-name {
  width: 30%;
}

.mat-column-tableId {
  text-align: left;
}

// .creationDateHeader,
// .nameHeader,
// .emailHeader,
// .commentHeader,
// .extrasHeader,
// .amountHeader,
// .amountData,
// .deleteHeader {
//   padding: 0 3%;
// }

// .creationDateData,
// .nameData,
// .emailData,
// .commentData,
// .extrasData {
//   padding: 0 3%;
//   word-break: break-word;
// }

// .deleteData,
// .orderStatusHeader,
// .mat-column-orderStatus {
//   text-align: right;
// }
.deleteHeader {
  text-align: center;
  width: 20px;
}
// .tableIdHeader {
//   text-align: left;
// }

.actionButtons {
  padding-top: 16px;
}

.mat-column-orderStatus {
  max-width: 100px;
  * {
    max-width: 100px;
  }
}

.orderPayStatusHeader,
.orderPayStatusData {
  text-align: right;
}

.mat-column-deleteButton {
  padding: 0 !important;
}

@media (max-width: 599px) {
  td,
  th {
    min-width: 100px;
  }
}
