<mat-card
  id="card"
  style="text-align: center; margin: 5%; margin-left: 31%; margin-right: 30%"
>
  <!-- upper banner -->
  <mat-card-title>
    <img
      src="./../../../../../assets/images/reset-header1.png"
      alt="reset-header"
      style="padding-top: 5%"
    />
  </mat-card-title>
  <br />

  <mat-card-content>
    <mat-card-content>
      <p
        style="
          text-align: left;
          padding-left: 20%;
          padding-right: 20%;
          font-size: larger;
        "
      >
        {{ 'admin.resetPassword.greeting' | transloco }} <b>{{ username }}</b
        >!<br /><br />
        {{ 'admin.resetPassword.resetText1' | transloco }}<br />
        {{ 'admin.resetPassword.resetText2' | transloco }}<br /><br />
        {{ 'admin.resetPassword.resetText3' | transloco }}
      </p>
    </mat-card-content>
    <br />

    <mat-form-field appearance="outline">
      <!-- Field in which to enter the new password -->
      <mat-label>{{
        'admin.resetPassword.enterPassword' | transloco
      }}</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        required
        minlength="6"
        #input
        name="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint *ngIf="tooShortPassword" style="color: red">{{
        'admin.resetPassword.tooShortPassword' | transloco
      }}</mat-hint>
    </mat-form-field>
    <br />
    <mat-form-field appearance="outline" style="margin-top: 0.6%">
      <mat-label>{{
        'admin.resetPassword.confirmPassword' | transloco
      }}</mat-label>
      <!-- Field in which to enter the new password a second time to confirm that it has been entered correctly -->
      <input matInput [type]="hide ? 'password' : 'text'" #inputConfirm />
      <mat-hint *ngIf="samePassword" style="color: red">{{
        'admin.resetPassword.passwordConfirm' | transloco
      }}</mat-hint>
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <br />
    <br />
    <!-- Button to complete the reset process once the new password has been entered correctly twice -->
    <button
      mat-raised-button
      color="primary"
      style="margin-right: 5px"
      (click)="checkPassword()"
    >
      {{ 'admin.resetPassword.resetMyPassword' | transloco }}
    </button>
    <br />
    <br />
    <br />
  </mat-card-content>
</mat-card>
