.ablock table td {
  padding:5px;
}

.mat-card-position {
  text-align: center;
  margin: 3%;
  margin-left: 26%;
  margin-right: 25%;
}

.friend-logo {
  margin-top: 5%;
}

.aligned-with-icon{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.after-submit {
  text-align: center;
  margin: 8%;
  margin-left: 27%;
  margin-right: 23%;
  margin-top: 10%;
}

.table-padding {
  padding-left: 20%;
  font-size: larger;
  padding-right: 20%;
}

.button-distance {
  margin-left: 10%;
  margin-bottom: 3%;
}

.no-agree-text {
  padding-top: 5%;
  padding-bottom: 10%;
}

.no-agree-text-weight {

}

